body, :root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}



.heading {
    width: 100vw;
    display: flex;
    justify-content: start;
    gap: 10rem;
    background-color: rgb(114, 114, 255);
}

.menu {
    background: none;
    border: 1px solid white;
    color: white
}

.page.title {

    font-weight: 700;
    font-size: 2rem;
    color: white;
    
}

.container.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.list.display {
    display: grid;
    grid-template: 1fr 1fr 2fr / 6fr 1fr 1fr;
    border: 2px solid black;
    padding: 1rem;
    column-gap: 0.4rem;

}

.list.header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.5rem;
    font-weight: 600;
}

.list.description {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.25rem;

}

.list.delete {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: red;
    color: rgb(214, 214, 214);
}


/****** TODO LIST PAGE ******/

.page.header {
    font-size: 3rem;
    margin: 1rem 0px 1rem 4rem;
}

.todo.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.todo.display {
    border: 1px solid black;
    width: 70ch;
    display: grid;
    grid-template: 2fr 1fr 6fr 1fr 1fr / 2fr 6fr 1fr 1fr;
}

.todo.name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

.todo.date {
    grid-row: 1 / 2;
    grid-column: 3 / 5;

}

.todo.date, .todo.name {
    font-size: 1.5rem;
    background-color: gray;
    color: white;
    font-weight: 600;
    padding: 1rem;
}

.todo.description {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 1.25rem;
    text-align: center;

}

.todo.complete {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: grey;
    color: white;
    font-size: 1rem;
}

.todo.deleteButton {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

.todo.editButton {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.addTodoButton {
    padding: 0.5rem;
}