body, :root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(185, 59, 59);
}



.heading {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: rgb(255, 80, 80);
}

.menu {
    background: none;
    border: 1px solid white;
    color: white
}

.page.title {

    font-weight: 700;
    font-size: 2rem;
    color: white;
    
}

.container.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.list.display {
    display: grid;
    grid-template: 1fr 1fr / 6fr 1fr 1fr;
    border: 0px solid black;
    border-radius: 2.1rem;
    padding: 1.5rem;
    column-gap: 0.4rem;
    background-color: white;
    color: rgb(0, 60, 255);
    box-shadow: 4px 8px 10px 5px rgb(0, 0, 0, 0.2);
    width: 20rem;
    height: 5rem;


}

.list.display:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(255, 0, 251);
    box-shadow: 6px 10px 14px 10px rgb(0, 0, 0, 0.3);
}

.list.header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 1.5rem;
    font-weight: 600;
}

.list.description {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.25rem;

}

.list.delete {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: red;
    color: rgb(214, 214, 214);
}

.list.delete:hover {
    background-color: rgb(255, 68, 0);
    color: white;
}

.addListButton {
    border: none;
    border-radius: 2.1rem;
    padding: 3rem;
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.277);
    color: rgba(186, 186, 186, 0.733);
    border: 2px solid black;
}

.popUp {
    background-color: rgba(167, 157, 243, 0.932);
    border-radius: 1rem;
    color: rgba(133, 15, 15, 0.786);
    font-weight: 600;
}

.listForm {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5rem;
}

.addListButton:hover {
    color: rgb(222, 222, 222);
    border: 1px solid black;
    background-color: rgba(117, 117, 117, 0.165);
}

.addListIcon {
    width: 4rem;
    height: 4rem;
}


/****** TODO LIST PAGE ******/

.page.header {
    font-size: 3rem;
    margin: 1rem 0px 3rem 4rem;
    color: white;
    font-weight: 800;
    display: flex;
}

.page.head.text {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 0.5rem;
}

.backButton {
    display: flex;
    gap: 0.7em;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
}

.backButton:hover {
    color: rgb(255, 80, 80);
    font-weight: 800;
}


.todo.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.todo.display.max, .todo.display.min {
    width: clamp(50ch, 560px, 700px);
    display: grid;
    overflow: hidden;
    box-shadow: 4px 8px 12px 8px rgb(0, 0, 0, 0.2);
}

.todo.display.max {
    grid-template: 2fr 1fr 6fr 1fr 1fr / 2fr 6fr 1fr 1fr;
    background-color: rgb(109, 125, 175);
    border-radius: 2rem;
}

.todo.display.min {
    grid-template-columns: 1fr 3fr 1fr;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.todo.name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

.todo.date {
    grid-row: 1 / 2;
    grid-column: 3 / 5;

}

.todo.date, .todo.name {
    font-size: 1.5rem;
    background-color: rgb(51, 77, 160);
    color: white;
    font-weight: 600;
    padding: 1rem;
}

.todo.description {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 1.25rem;
    text-align: center;
    color: white;

}

.todo.complete {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: grey;
    color: white;
    font-size: 1rem;
    border: none;
    border-right: 2px solid white;
    
}

.todo.deleteButton {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    background-color: rgb(51, 77, 160);
    color: white;
    border: 1px solid rgb(23, 34, 72);
    border-top-left-radius: 1rem;
}

.trashIcon {
    width: 2rem;
    height: 2rem;


}

.todo.editButton {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    background-color: rgb(51, 77, 160);
    color: white;
    border: 1px solid rgb(23, 34, 72);
    border-top-right-radius: 1rem;
}

.todo.editButton:hover, .todo.deleteButton:hover {
    color: rgb(255, 80, 80);
    background-color: rgb(50, 88, 214);
}

.pencilIcon {
    width: 1.2rem;
    height: 1.2rem;
}

.todoForm {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    gap: 1rem;
}

.createButton {
    border-radius: 0.5rem;
    background-color: rgba(175, 38, 38, 0.464);
    color: white;
}

.createButton:hover {
    background-color: rgba(175, 38, 38, 0.936);
    box-shadow: 2px 4px 8px 5px rgb(0, 0, 0, 0.15);
}

input:focus {
    border: 1px solid rgb(0, 145, 255);
}

.addTodoButton {
    padding: 0.5rem;
    width: clamp(50ch, 560px, 700px);
    border-radius: 2rem;
    border: 1px solid rgb(168, 168, 168);
    background-color: rgba(147, 147, 147, 0.237);
    color: rgba(177, 177, 177, 0.456);
}

.addTodoIcon {
    width: 2.25rem;
    height: 2.25rem;

}

.addTodoButton:hover {
    color: rgb(68, 68, 132);
    background-color: rgba(106, 106, 106, 0.48);
    border: 2px solid rgb(225, 225, 225);
    color: rgb(227, 227, 227);



}